*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Background Video */
.bg-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

/* Dark Overlay */
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    z-index: -1;
}

/* Container */
.container{
    width: 90%;
    max-width: 450px;
    margin: 100px auto;
    padding: 30px 25px;
    border-radius: 20px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255,255,255,0.2);
    color: white;
    text-align: center;
}

/* Search */
.search-box{
    display: flex;
    margin-bottom: 30px;
}

.search-box input{
    flex: 1;
    padding: 12px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
}

.search-box button{
    padding: 12px 18px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/* Weather Text */
.temp{
    font-size: 55px;
    font-weight: bold;
}

.city{
    font-size: 30px;
    margin-top: 10px;
}

.country{
    font-size: 18px;
    opacity: 0.8;
}

.weather-type{
    margin-top: 10px;
    font-size: 18px;
}

/* Details */
.details{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.details p:first-child{
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 480px) {
  .container {
    margin: 60px 15px;
    padding: 20px;
  }

  .temp {
    font-size: 40px;
  }

  .city {
    font-size: 22px;
  }
}